%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Composite' => {
        RotatedJpegFromRaw => {
            Require => {
                0 => 'JpegFromRaw',
            },
            Desire => {
                1 => 'Orientation',
            },
            ValueConv => q{
                if (defined $val[1]) {
                    my $et = new Image::ExifTool;
                    $et->SetNewValue('Orientation#', $val[1]);
                    my $rotatedImage;
                    my $success = $et->WriteInfo($val[0], \$rotatedImage);
                    return \$rotatedImage if $success == 1;
                }
                return $val[0];
            },
        },
        RotatedPreview => {
            Require => {
                0 => 'PreviewImage',
            },
            Desire => {
                1 => 'Orientation',
            },
            ValueConv => q{
                if (defined $val[1]) {
                    my $et = new Image::ExifTool;
                    $et->SetNewValue('Orientation#', $val[1]);
                    my $rotatedImage;
                    my $success = $et->WriteInfo($val[0], \$rotatedImage);
                    return \$rotatedImage if $success == 1;
                }
                return $val[0];
            },
        },
        RotatedThumbnail => {
            Require => {
                0 => 'ThumbnailImage',
            },
            Desire => {
                1 => 'Orientation',
            },
            ValueConv => q{
                if (defined $val[1]) {
                    my $et = new Image::ExifTool;
                    $et->SetNewValue('Orientation#', $val[1]);
                    my $rotatedImage;
                    my $success = $et->WriteInfo($val[0], \$rotatedImage);
                    return \$rotatedImage if $success == 1;
                }
                return $val[0];
            },
        },
    },
);
1; #end
